/*讲师-selfImg*/
/*nate*/
.teacher ul li:first-child > span{
    background: url("../../img/FightIndex/teacher-nate.jpg") no-repeat center center;
    background-size: 100% 100%;
}

/*liuyubobobo*/
.teacher ul li:nth-child(2) > span{
    background: url("../../img/FightIndex/teacher-liuyubobobo.jpg") no-repeat center center;
    background-size: 100% 100%;
}

/*李_捷*/
.teacher ul li:nth-child(3) > span{
    background: url("../../img/FightIndex/teacher-李_捷.jpg") no-repeat center center;
    background-size: 100% 100%;
}

/*表严肃*/
.teacher ul li:nth-child(4) > span{
    background: url("../../img/FightIndex/teacher-表严肃.jpg") no-repeat center center;
    background-size: 100% 100%;
}

/*Scott*/
.teacher ul li:nth-child(5) > span{
    background: url("../../img/FightIndex/teacher-Scott.jpg") no-repeat center center;
    background-size: 100% 100%;
}

/*远人*/
.teacher ul li:nth-child(6) > span{
    background: url("../../img/FightIndex/teacher-远人.jpg") no-repeat center center;
    background-size: 100% 100%;
}

/*Lyn*/
.teacher ul li:nth-child(7) > span{
    background: url("../../img/FightIndex/teacher-Lyn.jpg") no-repeat center center;
    background-size: 100% 100%;
}


/*singwa*/
.teacher ul li:nth-child(8) > span{
    background: url("../../img/FightIndex/teacher-singwa.jpg") no-repeat center center;
    background-size: 100% 100%;
}

/*程序员硕*/
.teacher ul li:nth-child(9) > span{
    background: url("../../img/FightIndex/teacher-程序员硕.jpg") no-repeat center center;
    background-size: 100% 100%;
}

/*vczero_*/
.teacher ul li:nth-child(10) > span{
    background: url("../../img/FightIndex/teacher-vczero_.jpg") no-repeat center center;
    background-size: 100% 100%;
}

/*ParryKK*/
.teacher ul li:nth-child(11) > span{
    background: url("../../img/FightIndex/teacher-ParryKK.jpg") no-repeat center center;
    background-size: 100% 100%;
}

/*姜维_Wayne*/
.teacher ul li:nth-child(12) > span{
    background: url("../../img/FightIndex/teacher-姜维_Wayne.jpg") no-repeat center center;
    background-size: 100% 100%;
}

/*sqlercn*/
.teacher ul li:nth-child(13) > span{
    background: url("../../img/FightIndex/teacher-sqlercn.jpg") no-repeat center center;
    background-size: 100% 100%;
}

/*nate*/
.teacher ul li:nth-child(14) > span{
    background: url("../../img/FightIndex/teacher-nate.jpg") no-repeat center center;
    background-size: 100% 100%;
}

/*liuyubobobo*/
.teacher ul li:nth-child(15) > span{
    background: url("../../img/FightIndex/teacher-liuyubobobo.jpg") no-repeat center center;
    background-size: 100% 100%;
}

/*李_捷*/
.teacher ul li:nth-child(16) > span{
    background: url("../../img/FightIndex/teacher-李_捷.jpg") no-repeat center center;
    background-size: 100% 100%;
}

/*nate*/
.teacher ul li:nth-child(17) > span{
    background: url("../../img/FightIndex/teacher-nate.jpg") no-repeat center center;
    background-size: 100% 100%;
}

/*liuyubobobo*/
.teacher ul li:nth-child(18) > span{
    background: url("../../img/FightIndex/teacher-liuyubobobo.jpg") no-repeat center center;
    background-size: 100% 100%;
}

/*李_捷*/
.teacher ul li:nth-child(19) > span{
    background: url("../../img/FightIndex/teacher-李_捷.jpg") no-repeat center center;
    background-size: 100% 100%;
}

/*表严肃*/
.teacher ul li:nth-child(20) > span{
    background: url("../../img/FightIndex/teacher-表严肃.jpg") no-repeat center center;
    background-size: 100% 100%;
}